on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch : {}
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        ghc:
          - "9.4.8"
          - "9.6.7"
          - "9.8.4"
          - "9.10.3"
          - "9.12.2"
        cabal:
          - "3.12.1.0"
          - "3.14.2.0"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - name: Setup Haskell
        uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - name: Build
        run: |
          cabal update
          cabal configure --constraint 'Cabal == ${{ matrix.cabal }}'
          cabal build all --enable-tests
      - name: Run Tests
        run: cabal test --test-show-details=always all
  post_job:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - run: |
          echo "jobs info: ${{ toJSON(needs) }}"
      - if: contains(needs.*.result, 'failure')
        run: exit 1
      - if: contains(needs.*.result, 'cancelled') && needs.pre_job.outputs.should_skip != 'true'
        run: exit 1

