on: [push]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        ghc:
          - "8.10.7"
          - "9.0.2"
          - "9.2.4"
        exclude:
        # precompiled 9.0 and 9.2 don't have docs
          - os: windows-latest
            ghc: "9.0.2"
          - os: windows-latest
            ghc: "9.2.4"
          - os: macos-latest
            ghc: "9.0.2"
          - os: macos-latest
            ghc: "9.2.4"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - name: Install Tools
        env:
          GHCUP_CURL_OPTS: "--suppress-connect-headers"
        run: |
          ghcup upgrade
          ghcup list
          ghcup rm ghc ${{ matrix.ghc }} || true
          ghcup install ghc ${{ matrix.ghc }} --set
          ghcup install cabal ${{ matrix.cabal }} --set
          cabal update
      - name: Build
        run: |
          cabal build all --enable-tests
      - name: Run Tests
        run: cabal test --test-show-details=always all
      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
  post_job:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - run: |
          echo "jobs info: ${{ toJSON(needs) }}"
      - if: contains(needs.*.result, 'failure')
        run: exit 1
      - if: contains(needs.*.result, 'cancelled') && needs.pre_job.outputs.should_skip != 'true'
        run: exit 1